/*---------------------------------
	SPACERS
-----------------------------------*/
div.spacer_4 {	height:4px;  }
div.spacer_5 {	height:5px;  }
div.spacer_8 {	height:8px;  }
div.spacer_10{	height:10px; }
div.spacer_15{	height:15px; }
div.spacer_20{	height:20px; }
div.spacer_25{	height:25px; }
div.spacer_30{	height:30px; }
div.spacer_35{	height:35px; }
div.spacer_40{	height:40px; }
div.spacer_45{	height:45px; }
div.spacer_50{	height:50px; }
div.spacer_55{	height:55px; }
div.spacer_60{	height:60px; }
div.spacer_90{	height:90px;	width:100%; }